@import "compass";

body {
    text-align: center;
    background: url('http://nerdery.com/assets/layout/bg_body.jpg') repeat-x;
}

h1 {
    font-family: 'Freckle Face', cursive;
}

div.heat-container {
    background-color: #EEEEEE;

    height: 590px;
    width: 960px;
    margin: auto;
    position: relative;

    // padding: 6px;
    border: 2px solid black;
    @include border-radius;
    @include box-shadow;

    .heat-grid {
        height: 590px;
        width: 960px;
    }

    .heat-overlay {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }

    .heat-label {
        background-color: #FFFFFF;
        border: 1px solid black;
        display: none;
        padding: 8px;
        position: absolute;
        @include box-shadow;
        @include border-radius;
    }
}

ul {
    list-style-type: none;
}

li {
    list-style: none;
    display: inline;
    float: left;
}